@using CRUD_OperationsInMVC.Models;
@model IEnumerable<Department>
<div style="font-family:Arial">
    @{
        ViewBag.Title = "Departments List";
    }
    
    <h2>Departments List</h2>
    <ul>
        @foreach (Department department in @Model)
        {
            <li>@Html.ActionLink(department.Name, "Index", "Employees", new { departmentId = department.Id }, null)</li>
        }
    </ul>
</div>