@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Toronto Ontario<br />
    CANADA <br />
    <abbr title="Phone">P:</abbr>
    647.615.1472
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:yjpark1108@hotmail.com">yjpark1108@hotmail.com</a><br />
    <strong>GitHub Link:</strong> <a href="https://github.com/SmartNet-YoungPark">github.com/SmartNet-YoungPark</a>
</address>